*
!*.gitignore
!math
!math/*.txt
!math/*.ipynb
!docs
!docs/*
!docs/Italy\ says\ can\ exit\ EU\ deficit\ procedure\ in\ 2026,\ ahead\ of\ schedule\ _\ Reuters/*

!lisatehtavat
!chapter*
!/README.md
!**/*.cpp
!**/*.py

